/*header start*/
header{
  background-color: #000000;
  padding: 10px 0;
}
.m_nav{}
.logo{
  color: #ffffff;
}

.menu{}
.menu ul li a{
  font-size: 18px;
  color: #ffffff !important;
  padding: 0 20px !important;
  text-transform: uppercase;
}
.menu ul li a:hover{
  color: #000000 !important;
  background-color: rgb(2, 225, 255);

}
/*header end*/

/*preloader*/
#loading {
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
}
#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
}
.object {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  float: left;
  margin-right: 20px;
  margin-top: 65px;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
#object_one {
  -webkit-animation: object_one 1.5s infinite;
  animation: object_one 1.5s infinite;
}
#object_two {
  -webkit-animation: object_two 1.5s infinite;
  animation: object_two 1.5s infinite;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
#object_three {
  -webkit-animation: object_three 1.5s infinite;
  animation: object_three 1.5s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@-webkit-keyframes object_one {
  75% {
    -webkit-transform: scale(0);
  }
}
@keyframes object_one {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes object_two {
  75% {
    -webkit-transform: scale(0);
  }
}
@keyframes object_two {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes object_three {
  75% {
    -webkit-transform: scale(0);
  }
}
@keyframes object_three {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
/* preload end */

/*mixitup start*/
.some-list{
    font-size: 22px;
    margin-bottom: 100px;
}
/*mixitup end*/

/*portfolio start*/
.pf{
	background: #ffffff;;
}
.pf_menu ul li a{
	padding: 10px;
	color: #66d9ff;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	transition: 0.33s linear;
}
.por_custom button{
	color: #66d9ff;
}
.por_custom button:hover{
	color: #ffffff;
}
.pf_menu ul li.active a{
	color: #66d9ff;;
	border: 2px solid #66d9ff;
}
.pf_menu ul li a:hover{
	color: #66d9ff;
}
.pf_pho{
	margin-top: 40px;
	position: relative;
	overflow: hidden;
}
.pf_img{
	position: relative;
}
.pf_img:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #66d9ff;;
	opacity: 0;
	z-index: 0;
	transition: 0.33s linear;
}
.pf_pho:hover .pf_img:after{
	opacity: 50%;
}
.pf_icon{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
}
.pf_icon i{
	font-size: 60px;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
	transform: scale(0);
	transition: 0.33s linear;
}
.pf_pho:hover .pf_icon i{
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
}
.pf_text{
	margin: 0;
	background: #ffffff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.33s linear;
}
.pf_pho:hover .pf_text{
	height: 90px;
	opacity: 1;
	visibility: visible;
}
.pf_title{
	margin-bottom: 0 !important;
	padding-left: 27px;
	padding-top: 15px;
	font-size: 18px;
}
.pf_p{
	padding-left: 27px;
	text-transform: capitalize;
}
/*portfolio end*/

/* Animation start*/
.c_p2{
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;

}
.c_h1{
  color: #66d9ff;
}
/* Animation End*/


/*Parallax start*/
.parallax-window {
  min-height: 900px;

  background: transparent;
}
.c_p{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #66d9ff;;
  background-color: #000000;
}
/*Parallax  end*/

/*CounterUp Start*/
.c_h{
  font-size: 45px;
  font-weight: 700;
  color: #66d9ff;
}
/*CounterUp End*/





/*slick slider*/
.img{
  padding: 0 10px;
}

.swiper {
  width: 100%;
  height: 80%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
}